@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:ital@1&family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #23232E;
}

/* Nav Start */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo img {
    height: 63px;
    margin-right: 8px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    position: fixed;
    left: 200px;
    justify-content: space-between;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    transition: opacity 0.6s ease-in-out;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 80%;

}

.mobile-menu>div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* Ukuran Untuk SmartPhone */
@media (max-width: 763px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: top 0.5s ease-in-out;
        height: calc(100vh - 8vh);
        opacity: 0;
        visibility: hidden;
        padding: 20px;
        box-sizing: border-box;
    }

    .nav-list.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-list li {
        margin: 12px 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.3s;
    }

    .mobile-menu {
        display: block;
    }
    
    /* Mengatur tampilan dropdown pada mode hp dan tablet */
    .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 8px;
    }

    .dropdown .profile-circle {
        display: none;
    }
    
    .dropdown .profile-name {
        display: block; 
    }

    .dropdown-content {
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }
}

.nav-list.active {
    transform: translateY(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Ukuran Untuk Tablet */
@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: top 0.5s ease-in-out;
        height: calc(100vh - 8vh);
        opacity: 0;
        visibility: hidden;
        padding: 20px;
        box-sizing: border-box;
    }

    .nav-list.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-list li {
        margin: 12px 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.3s;
    }

    .mobile-menu {
        display: block;
    }

    .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 8px;
    }

    .dropdown .profile-circle {
        display: none;
    }
    
    .dropdown .profile-name {
        display: block;
    }

    .dropdown-content {
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }
}

.nav-list.active {
    transform: translateY(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Mode Ada User */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto; 
    text-align: center;
}

.profile-circle {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.profile-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.profile-name {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Gaya tambahan untuk foto profil dan dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #23232e;
    padding-top: 10px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: 500px;
    transition: max-height 0.3s ease;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Nav end */

/* Halaman Utama */
.one-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AEE5D1;
    background-image: url(/img/background_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;

}

.one-content .name {
    max-width: 800px;
    text-align: center;
}

.one-content .name h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.one-content .name p {
    color: #23232e;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.name {
    font-family: 'Poppins', sans-serif;
}

/* Animasi kursor */
@keyframes cursor-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.name h1 span.cursor {
    animation: cursor-blink 0.8s infinite;
}

.btn {
    padding: 10px 20px;
    background-color: #23232e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    .one-content .name {
        max-width: 90%;
    }

    .one-content .name h1 {
        font-size: 1.8rem;
    }

    .one-content .name p {
        font-size: 1.2rem;
    }
}

/* Halaman kedua */
.two-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/background.svg);
    padding: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper h2 {
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;

}

.profile {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
}

.profile img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin-top: 1px;
}

.social-icon {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.profile .btn {
    padding: 10px 20px;
    background-color: #AEE5D1;
    color: #23232E;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.profile .btn:hover{
    background-color: #aee5d184;
}


/* Footer */
footer {
    background-color: #23232e;
    padding: 30px 0;
    color: #ccc;
    font-size: 14px;
    box-shadow: 0px -7px 6px 1px #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-col img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
    max-width: 960px;
    margin: 0 auto;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    flex-basis: 20%;
    margin-bottom: 30px;
}

.footer-col h4 {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footer-col p,
.footer-col ul {
    text-align: center;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-col iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-col ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
}

.media-social {
    display: flex;
    justify-content: center;

}

.media-social a {
    display: inline-block;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 40px;
    transition: background-color 0.3s ease;
}

.media-social a:hover {
    background-color: #fff;
    color: #23232e;
}

.footer-content {
    text-align: center;
    margin-top: 20px;
}

.footer-content p {
    margin: 0;
}

/* Footer Responsif untuk Ponsel */
@media (max-width: 767px) {
    .footer-col {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-col h4 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .footer-col ul li {
        margin-bottom: 5px;
    }

    .footer-col ul li a {
        font-size: 16px;
    }

    .media-social {
        justify-content: center;
        margin-bottom: 20px;
    }

    .footer-content {
        margin-top: 10px;
    }
}

/* Footer Responsif untuk Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .footer-col {
        flex-basis: 50%;
        margin-bottom: 30px;
    }

    .footer-col h4 {
        font-size: 20px;
    }
}


